.productosGrid {
  
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);    
    gap: 90px;
    padding: 40px;
    justify-content: center;
    color:black;
    
    
  }
  
  @media (max-width: 560px) {
    .productosGrid {
      grid-template-columns: 100%;
    }
  }