.productoCard {
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
  }
  
  .productoCard:hover {
    opacity: 0.8;
  }
  
  .productoImage {
    border-radius: 10px;
    background-color: azure;
  }
  
  @media (max-width: 560px) {
    .productoImage {
      width: 90%;
      height: auto;
    }
  }

  .overview {
    font-size: 10px;
    text-decoration: none;
  }