.searchContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .searchBox {
    position: relative;
  }
  
  .searchButton {
    padding: 5px 10px 5px 10px;  
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    height: 100%;
  
    border:none;
    border-radius: 10px;
    background:gray;
  }
  
  .searchInput {
    font-size: 1.2rem;
    height: 30px;
    border-radius: 10px;
    padding: 5px 30px 5px 10px;
    border: 1px solid black;
  }
  
  /* .searchInput:focus,
  .searchButton:focus {
    outline: none;
    border: 1px solid #f88ec2;
    box-shadow: 0 0 5px #ebbed4;
  } */