
.title {
  text-align: center;
  padding-left: 50px;
  font-size: 2rem;
  background-color: blue;
  
  
}

.subtitle {
  text-align: left;
  padding-left: 50px;
  font-size: 3rem;
  background-color: rgb(40, 40, 43);
  
}

.imagen {
  display: flex;  
  font-size: 2rem;
  background-color: black;
  padding-left: 50px;
  
}

.tex {
  color: black;
}